:root {
	--background-color: #1C1C1C;
	--color: #EDEDED;
	--primary-color: #0EB2B9;
	--error-color: #FF9B9B;
	--success-color: #BAFF9B;
  }

@font-face {
	font-family: roboto-black;
	src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
	font-family: roboto-regular;
	src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: roboto-thin;
	src: url(./fonts/Roboto-Regular.ttf);
}

body {
	background-color: var(--background-color);
	color: var(--color);
	font-family: roboto-thin;
	min-height: 100vh;
	margin: 0;
}

h1 {
	font-family: roboto-black;
	color: var(--color);
	font-size: 2rem;
}
h2 {
	font-family: roboto-black;
	color: var(--color);
	font-size: 1rem;
}
p {
	font-family: roboto-thin;
	line-height: 1.5;
	color: var(--color);
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	text-decoration: underline;
}

label {
	font-family: roboto-thin;
	font-size: 12px;;
	color: var(--color);
}

button {
	cursor: pointer;
}


select {
	font-family: roboto-thin;
	background-color: var(--color);
	color: var(--background-color);
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	margin: 10px 0 30px 0;
}

input,
textarea {
	font-family: roboto-thin;
	background-color: var(--color);
	color: var(--background-color);
	width: calc(100% - 25px);
	padding: 10px;
	border-radius: 6px;
	margin: 10px 0 30px 0;
}

.bt-primary {
	background-color: var(--primary-color);
	border: 1px solid #00E6F0;
	border-radius: 6px;
	color: #fff;
	height: 30px;
	padding: 0 15px;
	width: 100%;
}

.bt-secondary {
	background-color: var(--color);
	border: 1px solid #00E6F0;
	border-radius: 6px;
	color: var(--primary-color);
	height: 30px;
	padding: 0 15px;
}

.bt-text {
	background-color: transparent;
	border: none;
	color: var(--primary-color);
}

.flex-container-center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
  }

  .error-message {
	color: var(--error-color);
}

.success-message {
	color: var(--success-color);
}

.content-container {
	width: 100%;
	max-width: 400px;
	padding: 0 20px;
}